.main{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
position: relative;

}

.description{
  min-height: 60vh;
  margin-top: 1rem;
  color: rgb(216, 250, 253);
  text-shadow: 3px 3px 3px #fac506;
  max-width: 60vw;
 font-size: 24px;
 font-weight: 800;
}
.description a {
  color: rgb(216, 250, 253);
  text-shadow: 3px 3px 3px #fac506;
}
.description-img{
  bottom: 5vh;
  height:fit-content;
  position: relative;
  animation: Myplane 17s infinite ;
}
.description-img img{
  cursor: pointer;
  width:250px;
}



@keyframes Myplane {
  0%   {transform:translateX(-100%) ; }
  100%  {transform: translateX(150%); }
}

@media only screen and (min-width: 300px) and (max-width:769px) {
  .description{
    font-size:smaller;
    width: 90vw;
    padding-bottom: 2em;
  }
  .description-img img{
    width:150px;
  }
  .description-img{
    position: relative;
    bottom: 10px;
    animation: Myplane 12s infinite ;

  }

}
@media only screen and (min-width: 2000px)  {
  .description-img img{
    width:350px;
  }

}
